.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
}

.App-header {
  background-color: #061922;
  min-height: 100vh;
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-control {
  width: 50%;
  height: 15em;
  padding: 12px 20px;
  float: right;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: calc(10px + 2vmin);
  resize: none;
}

.btn-primary {
  border-radius: 8px;
  font-size: 20px;
  float: right;
  padding: 14px 40px;
}

.cell {
  width: 6em;
  height: 6em;
  border: 1px solid #ddd;
}
.SOUTH {
  transform: rotate(180deg);
}

.EAST {
  transform: rotate(90deg);
}
.WEST {
  transform: rotate(270deg);
}
/* .App-header {
  background-color: #222;
  height: 350px;
  padding: 20px;
  color: white;
} */

.App-link {
  color: #09d3ac;
}
